
body{
    z-index: 2;
}
.map, .edificios{
    place-content: center center;
    display: flex;
    width: 100%;
}

.map :hover{
    fill: #373737;
    
}

#cuadroTexto, #cuadroreporte{
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 0px;
      width: 27%;      
      z-index: 400;
      bottom: 0px;
  }

  #main_container{
    overflow: hidden;
    z-index: 1;
    
  }
  #zoomIn, #zoomOut, #restaurar {
    cursor: pointer;
    margin-top: 10px;
}

.container{
    position: relative;
}




#svg-container {
    position: relative;
    
    
}

.point {
    
    cursor: pointer;
    transition: fill 0.5s ease;
   
}

.closest {
    fill: rgb(255, 195, 0) !important;
   
}
#cuadroreporte{
    right: 0;
    
    
}
form{
    display: grid;
    width: auto;
}
#imagenCuadro{
    margin-bottom: 5%;
    margin-top: 5%;
}

@media (max-width:1150px){
    
    #cuadroTexto, #cuadroreporte{
        position: relative;
        width: auto;
    }
    #mapa-del-cut{
        height: 350px;
    }
    
}