/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
#mapa-del-cut{
    height: 600px;
    width: auto;
}
.imgbt{
     height: 90%;
    width: 40%;
}